@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-image: url(./black-smoke-background-u1pntt2ev1hwj9lm.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    font-family:Poppins,sans-serif ;
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px ;
    background: transparent;
    color: #3cf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}
.navbar a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 2px;
    padding-right: 2em;
    color: aliceblue;
}
.navbar a.active,
.navbar a:hover{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgb(160, 159, 179) 0%, rgb(243, 60, 5) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.home{
    width:100% ;
    height: 100vh;
    display: flex;
    align-items:center ;
    padding:5px 10px 10px; 
}
.home-content{
    max-width: 500px;
    justify-content: space-between;
    margin-left: 1em;
    
}
.home-content h1{
      font-size: 56px;
      font-weight: 900;
      line-height:0.9;
}
.home-content h3{
   font-size: 25px;
   font-weight:900;
}
.home-content p{
    font-size:18px;
    font-weight: bolder;
    margin: 20px 0 50px ;
    color: rgb(248, 248, 248);
}
.btn{
    position: relative;
    display:inline-flex;
    width: 180px;
    height: 48px;
    text-decoration: none;
    font-size: 21px;
    border-radius: 40px;
    letter-spacing: 1px;
    font-weight: 700;
    color: rgb(180, 161, 161);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.btn::before{
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgb(128, 124, 196) 0%, rgb(206, 32, 13) 48%, rgba(0,114,255,1) 100%);
    inset: 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
}
.btn::after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgb(13, 8, 92) 0%, rgb(92, 4, 4) 48%, rgb(31, 81, 146) 100%);
    z-index: -1;
    border-radius: 40px;
    background-size: 170%;
    background-position: 0 0;
    transition: 0.5 ease;
}
.btn:hover::after{
    background-position: 100% 0 ;
}
.home-sci a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(0deg, rgb(6, 216, 219) 0%, rgb(156, 135, 89) 100%);
    border-radius: 50%;
    font-size: 50px;
    text-decoration:none ;
    margin: 20px 10px 10px ;
    color: aliceblue;
    z-index: 1;
}
.home-sci a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(6, 216, 219) 0%, rgb(156, 135, 89) 100%);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::before{
   filter: blur(5px);

}
.home-sci a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(90, 11, 11);
    border-radius: 50%;
    transform:scale(.88);
    z-index: -1;
    transition: .5s ease;
}
.home-sci a:hover::after{
    transform: scale(0);
}
.home-img{
      width: 430px;
      height: 410px;
      margin-left:0;
}
.home-img .glowing-circle{
    position: relative;
    width:100% ;
    height:100% ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-img .glowing-circle::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: rgb(0, 0, 0), 207;
    border-radius: 50%;
}
.glowing-circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
}
.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: rgba(85, 39, 39, 0.575);
    z-index: 1;
    overflow: hidden;
}
.image img{
    position: absolute;
    top: -30px;
    left: 45%;
    transform: translateY(-40%);
    transform: translateX(-50%);
    max-width: 450px;
    object-fit: cover;
}
.audio{
    color: rgb(0, 0, 0);
    background-color: rgb(11, 88, 88);
    border-radius:20px ;

    
}

   
/* .circle{
    width: 200%;
    height: 100%;
    background: rgb(14, 3, 14);
    border-radius: 50%;
} */